body {
    font-family: 'Work Sans', sans-serif !important;
    letter-spacing: .004em;
    -moz-osx-font-smoothing: grayscale;
    color: #5f5f5f;
}
p{
    font-size: .95rem;
    font-family: 'Work Sans', sans-serif !important;
    color: #5f5f5f;
    -webkit-user-select: none;
    -moz-user-select:  none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #1cf3c7;
}
a:hover{
    text-decoration: none !important;
}
i{
    color: #1cf3c7;
}
.shadow-lg {
    box-shadow: 0 2rem 2rem rgba(0,0,0,.175) !important;
}
.btn.btn-primary.text-uppercase{
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
a.btn{
    color: #1cf3c7;
    padding: 10px 15px 7px 15px;
    background-color: transparent;
    border: 1px solid #1cf3c7;
    border-radius: 0px;
    font-family: 'HelveticaNeueLTStd', sans-serif !important;
    letter-spacing: 2.5px;
    font-size: 13px;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: none !important;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none !important;
}
a.nav-link{
    color:#fafafa;
    font-family: 'Work Sans', sans-serif !important;
    opacity: 0.5;
    letter-spacing: 2px;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 400;
}
a.nav-link:hover{
    opacity: 1;
    color:#fafafa;
}
.nav-link {
    display: block;
    padding: 0 !important;
}
a>.icono{
    font-size: 16px;
}
h3{
    font-family: 'Work Sans', sans-serif !important;
    letter-spacing: 2.8px;
    -webkit-user-select: none;
    -moz-user-select:  none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
h2.col-12{
    font-family: 'HelveticaNeueLTStd' !important;
    letter-spacing: 2px;
    color: #a6a6a6;
    -webkit-user-select: none;
    -moz-user-select:  none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
h4{
    font-family: 'HelveticaNeueLTStd' !important;
    letter-spacing: 1px;
    -webkit-user-select: none;
    -moz-user-select:  none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fixed-top {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+100,171717+100&0.65+2,0+100 */
    background: -moz-linear-gradient(top, rgba(23,23,23,0.65) 2%, rgba(23,23,23,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(23,23,23,0.65) 2%,rgba(23,23,23,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(23,23,23,0.65) 2%,rgba(23,23,23,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6171717', endColorstr='#00171717',GradientType=0 ); /* IE6-9 */
}
.nav-color{
    background-color:#171717 !important;
}
.home{
    background: url(../img/home.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: auto auto;
    display: table;
    width: 100%;
    margin: 0px 0 0px 0;
    background-size: cover;
    color: #fff;
    height: 100vh;
}
.home .col{
    margin-top: 40vh;
}
.home h2{
    letter-spacing: 7px;
    font-size: 40px;
    color: #fafafa;
    line-height: 50px;
}
.home a{ 
    font-family: 'HelveticaNeueLTStd', sans-serif !important;
}
.servicios{
    background-color: #171717
}
.servicios .card-body{
    padding: 0;
}
.servicios h4{}
.portafolio{
    background: url(../img/zwartevilt.png);
    background-attachment: fixed;
    background-color: #171717;
}
.portafolio .card .image {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}
.portafolio .card:hover .image {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}
p.card-text{
    color: none;
}
h3.card-title{
    margin-bottom: 5px;
}
.card-title a{
    color: #fafafa !important;
}
.card-title a:hover{
    text-decoration: none;
}
.servicios .s-color, .servicios .card-text{
    color: #5f5f5f !important;
}
.card-title {
    margin-bottom: .75rem;
    text-decoration: none;
    letter-spacing: 2.5px;
    color: #1cf3c7 !important;
}
.card-link a{
    letter-spacing: 1px;
    font-size: 15px;
}
.card-body .nav a.nav-link{
    letter-spacing: 2.5px;
    font-size: 15px;
}
a.ir:hover{
    text-decoration: none;
}
.portafolio a.ir, a.best{
    color:  #a6a6a6 !important; 
}
.portafolio a.ir:hover, a.best:hover{
    color:  #1cf3c7 !important;
}
span.brillo{
    color: #1cf3c7 !important;
}
.card-img-top.image {
    border-radius: 0;
}
a.btn-primary:hover {
    color: #171717 !important;
    border-color: transparent !important;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1cf3c7+35,0ce9bc+100 */
    background: #1cf3c7; /* Old browsers */
    background: -moz-linear-gradient(45deg, #1cf3c7 35%, #0ce9bc 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #1cf3c7 35%,#0ce9bc 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #1cf3c7 35%,#0ce9bc 100%) !important ; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cf3c7', endColorstr='#0ce9bc',GradientType=1); /* IE6-9 fallback on horizontal gradient */
}
a.best{
    text-decoration: none;
    letter-spacing: 2.5px;
    color: #1cf3c7 !important;
}
a.best:hover{
    text-decoration: none;
}
.svg-inline--fa.fa-globe.fa-w-16.fa-spin.mr-2 {
    color: #1cf391;
}
.serviciospage{
    background-color: #fafafa;
}
/* boton .box .curmudgeon */
.box {
    position: relative;
    vertical-align: middle;
    color: #fafafa;
    display: inline-block;
/* height: 60px; 
 line-height: 60px; */
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    border-bottom-color: #fafafa ;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition:0.4s;
    transition:0.4s;
}
.box:hover {
    border: 2px solid rgba(0,160,80,0);
    color: #FFF;
}
.box::before, .box::after {
    width: 100%;
    height:100%;
    z-index: 3;
    content:'';
    position: absolute;
    top:0;
    left:0;
    box-sizing: border-box;
    -webkit-transform: scale(0);
    transition: 0.5s;
}
.curmudgeon::before {
    border-bottom: 2px solid #1cf3c7;
    border-left: 0;
    -webkit-transform-origin: 0% 100%;
}
.curmudgeon::after {
    border-top: 0;
    border-right: 0;
    -webkit-transform-origin: 50% 50%;
}
.box:hover::after, .box:hover::before {
    -webkit-transform: scale(1);
}
/* fin boton .box .curmudgeon */
/* 
Dispositivos grandes (escritorios, 992px y más) 
Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-right: 0 !important;
        padding-left: 30px !important;
    }
}