
@font-face {
  font-family: 'HelveticaNeueLTStd';
  src: url('../fonts/HelveticaNeueLTStd.eot?#iefix') format('embedded-opentype'),  
      url('../fonts/HelveticaNeueLTStd.otf')  format('opentype'),
      url('../fonts/HelveticaNeueLTStd.woff') format('woff'), 
      url('../fonts/HelveticaNeueLTStd.ttf')  format('truetype'), 
      url('../fonts/HelveticaNeueLTStd.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}